# Secrets
.env

# Python virtual environment
.venv/

# IDE settings
.idea/

# Python cache
__pycache__/
*.pyc

# Node
node_modules/

# Vite build output
dist/

# Data files

goodreads_books_cleaned.json.gz
goodreads_books.json.gz
goodreads_reviews_cleaned.json.gz
goodreads_reviews_dedup.json.gz
